*{
    color: #f6f1f1
}

body{
    background:#000000
}

.border-primary{
    border: 1px solid rgb(0, 255, 242) !important;
    border-color: rgb(0, 255, 242);
}

.lumo-primary{
    box-shadow: 0 0 30px rgb(0, 255, 242);
}

.backG-primary{
    background: rgb(0, 132, 255)
}